

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.dot {
  background-image: radial-gradient(var(--color-twitch-op-40) 12%, transparent 12%);
  background-position: 12px 12px;
  background-size: 24px 24px;
  background-color: var(--color-twitch-hsl-98);
}

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  width: 85vw;
  height: 80vh;
}

.darkPurple {
  background-color: var(--color-twitch);
  grid-column: 1;
  grid-row: 1;

  display: flex;
  justify-content: center;
}
.lightPurple {
  background-color: var(--color-twitch-hsl-90);
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.purple {
  background-color: var(--color-white);
  grid-column: 2;
  grid-row: 1/3;

  display: flex;
  justify-content: center;
}
.logoTwitch {
  width: auto;
  height: 40vh;
  align-self: center;
}
.textTwitch {
  font-size: 2em;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  padding-left: 10px;
  line-height: 2.5rem;
}
.textSubtitle {
  color: black;
  padding-left: 10px;
  align-self: baseline;
  font-size: 0.8rem;
  font-style: italic;
}
.meme {
  height: auto;
  width: 100px;
  padding: 0.5em 0;
  align-self: center;
}
.whatIf {
  color: var(--color-twitch-hsl-98);
  font-size: 4rem;
  align-self: center;
  font-weight: bold;
}
.glass {
  /*background: rgba(255, 0, 0, 0.14);*/
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /*backdrop-filter: blur(9px);*/
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.62);
}


.glass {
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.62);
}

.keyboard {
  position: fixed;
  z-index: 100;
  bottom: 10px;
  left: calc(50% - 85px);
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(2, 50px);
  grid-gap: 6px;
  transition: bottom .3s;
}

.keyboard .up,
.keyboard .left,
.keyboard .down,
.keyboard .right {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0, -150px, 0);
  transition: transform .3s ease-in;
}

.keyboard.normal .up,
.keyboard.normal .left,
.keyboard.normal .down,
.keyboard.normal .right {
  transform: translate3d(0, 0, 0);
}

.keyboard .up {
  grid-column: 2;
  grid-row: 1;
  transition-delay: .07s;
}
.keyboard .left {
  grid-column: 1;
  grid-row: 2;
  transition-delay: .05s;
}
.keyboard .down {
  grid-column: 2;
  grid-row: 2;
  transition-delay: 0;
}
.keyboard .right {
  grid-column: 3;
  grid-row: 2;
  transition-delay: .05s;
}

.keyboard .up svg,
.keyboard .left svg,
.keyboard .down svg,
.keyboard .right svg {
  height: 12px;
  width: auto;
  transition: fill .3s;
}

.keyboard .up.active svg,
.keyboard .left.active svg,
.keyboard .down.active svg,
.keyboard .right.active svg {
  fill: white;
}

.shortcuts {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 12px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.shortcuts .link {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcuts .link svg {
  height: 12px;
  width: auto;
  transition: fill .3s;
}

 .tooltip {
/*  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: transparent; */
  position: relative;
}

.tooltip .tooltipText {
  pointer-events: none;
  position: absolute;
  padding: 12px;
  transform-origin: center;
  transition: opacity .3s, scale .3s;
}

.tooltipText.disabled {
  opacity: 0;
  /* scale: .6; */
}

.tooltip.tooltip--top .tooltipText {
  top: 0;
  left: 50%;
  transform: translate3d(-50%, calc(-100% - 12px), 0);
}

.tooltip.tooltip--right .tooltipText {
  right: 0;
  top: 50%;
  transform: translate3d( calc(100% + 12px), -50%, 0);
  margin-left: 12px;
}

.tooltip.tooltip--left .tooltipText {
  left: 0;
  top: 50%;
  transform: translate3d(calc(-100% - 12px),  -50%, 0);
  margin-right: 12px;
}

.tooltip.tooltip--bottom .tooltipText {
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, calc(100% + 12px), 0);
}

.modal {
  position: fixed;
  inset: 0;
  padding: 15dvh 5%;
  transition: opacity .3s;
  /* pointer-events: none; */
}

.disabledModal {
  opacity: 0;
}

.modalContent {
  height: 100%;
  width: 100%;
  color: white;
  padding: 10px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  transition: transform .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal.disabled .modalContent {
  transform: translate3d(0, 20%, 0);
}

.modalContent p {
  font-size: 20px;
}

.modalContent p:nth-of-type(1) {
  margin-bottom: 12px;
  font-size: 32px;
  text-transform: uppercase;
}

.modalOuter {
  background-color: rgba(100, 65, 164, .3);
  position: absolute;
  inset: 0;
  z-index: -1;
  backdrop-filter: blur(100px);
}

.canvas {
  position: fixed;
  top: 0;
  pointer-events: none;
  z-index: -10;
  filter: blur(100px);
  opacity: 0;
}

.canvas.yes {
  animation: canvasAppearance 3s linear forwards;
}

@keyframes canvasAppearance {
  from {opacity: 0;}
  to {opacity: 1;}
}
