.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80vh;
}

.profile_info {
  background-color: #C51A26;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  border-radius: 20px;
}

.profile_title {
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
  padding: 1.5rem;
}

.profile_card {
  display: flex;
  flex-direction: column;
}

.profile_pseudonyme {
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  padding-bottom: 0.25rem;
}

.profile_picture {
  background-color: white;
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.profile_information {
  font-family: "Orbitron", sans-serif;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
}

.profile_timeline {
  font-family: "Orbitron", sans-serif;
  font-size: 0.8rem;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 10px;
  border-radius: 20px;
}

.box_one,
.box_two,
.box_three,
.box_four,
.box_five,
.box_six {
  width: 45%;
  height: 20%;
  padding: 1rem;
}

.box_two,
.box_four,
.box_six {
  margin-left: 55%;
}

.row {
  background-color: #C51A26;
  position: absolute;
  left: 68.65%;
  width: 4%;
  margin-top: 100vh;
}